$color-shade-green: #bbc68e;
$color-sage-violet: #3c3679;
$color-azulado: #201c44;
$color-midnight-blue: #131126;
$color-lavender-blue: #cbcffa;
$color-gains-boro: #d0d0d0;
$color-pale-yellow: #f3deb3;
$color-lavender-gray: #f6f6f9;
$color-white: #ffffff;
$color-black: #000000;
