.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cart-container {
  .cart-title {
    text-align: center;
    padding: 30px 0px;
  }
  .cart-item-container {
    display: flex;
    flex-direction: column;
    .tota-price {
      margin-top: 60px;
      display: flex;
      justify-content: end;
      h3 {
        font-size: 23px;
        margin-right: 30px;
      }
    }
  }
  .checkout-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      padding: 10px 20px;
      background-color: tomato;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      color: black;
    }
  }
}

.cart-empty-message {
  height: 50vh;
  margin: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    color: gray;
  }
}

.product-row-header {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  margin-top: 10px;
  margin-bottom: 20px;
}
